.wrapper_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

@media (max-width: 991px) and (min-width: 768px) {
  .wrapper_list {
    flex-wrap: wrap;
  }
  .wrapper_item:first-child {
    flex: 1 1 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .wrapper_list {
    flex-direction: column;
  }
  .wrapper_item:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.wrapper_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* .wrapper_item:not(:last-child) {
  margin-right: 5rem;
} */
.wrapper_content {
  cursor: pointer;
  position: relative;
  max-width: 320px;
  height: 480px;
  width: 100%;
  color: #000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-clip-path: polygon(
    0 0,
    90% 0,
    100% 30px,
    100% 100%,
    10% 100%,
    0 25px
  );
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
  border-radius: 12px;
  background: #1698d9;
  padding: 0 0.3rem;
}

.item_content {
  position: relative;
  -webkit-clip-path: polygon(
    0 0,
    90% 0,
    100% 30px,
    100% 100%,
    10% 100%,
    0 15px
  );
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
  background: #f2f2f2;
  width: 320px;
  height: 470px;
  padding: 21px 51px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
}
.item_content > h1,
.item_content > h2 {
  margin: 0;
}
.item_content > h1 {
  font-size: 3rem;
}
.item_content > h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.secondary_text {
  color: #666666;
  font-size: 0.875rem;
}
.pretitle {
  font-size: 1rem;
}

.img_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.img {
  display: block;
}

.label {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  color: #fff !important;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #1698d9;
  line-height: 1.5rem;
}

.label_weight {
  margin-bottom: 0.2rem;
  font-size: 2.5rem;
}

.text_buy {
  margin-top: 0.875rem;
  font-size: 0.75rem;
}

.buy {
  color: #1698d9;
  text-decoration: underline;
  text-decoration-style: dashed;
  cursor: pointer;
}

/* ._selected {
  background: #d91667;
}
._selected_block {
  background: #d91667 !important;
}
._selected:hover {
  background: #e52e7a;
} */

.wrapper_content:hover,
.wrapper_content:hover .label {
  background-color: #2ea8e6;
}
.selected,
.selected .label {
  background-color: #d91667;
}
.selected:hover,
.selected:hover .label {
  background-color: #e52e7a;
}

.block,
.block .label {
  background-color: #1698d9 !important;
}
.selected.block,
.selected.block.label {
  background-color: #d91667 !important;
}

.text_gold {
  color: #ffff66;
}
.disabled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
}

.disabled_background {
  background-color: #b3b3b3;
}

.disabled_text {
  color: #b3b3b3;
}
