@font-face {
  font-family: 'Exo2.0';
  src: url('/public/assets/fonts/Exo2.0-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: normal;
  src: local('/public/assets/fonts/trebuc.woff'), format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS';
  color: #fff;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/public/assets/images/bg.png');
  position: relative;
  z-index: 0;
}
.wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 5e-5) 49.88%,
    rgba(0, 0, 0, 0.5) 100%
  );
  z-index: -1;
}

main {
  flex: 1 1 100%;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: none;
    padding: 0 1rem;
  }
}

.head-text {
  -webkit-clip-path: polygon(
    0 0,
    90% 0,
    100% 30px,
    100% 100%,
    10% 100%,
    0 15px
  );
  clip-path: polygon(0 0, 90% 0, 100% 30px, 100% 100%, 10% 100%, 0 15px);
  color: black;
  background: #f2f2f2;
}

.box {
  background: #1698d9;
  -webkit-clip-path: polygon(
    0 0,
    90% 0,
    100% 30px,
    100% 100%,
    10% 100%,
    0 25px
  );
  clip-path: polygon(0 0, 90% 0, 100% 30px, 100% 100%, 10% 100%, 0 25px);
  padding: 5px;
}
